<mat-card-content>
  <form [formGroup]="loginFormPhoneNumber">
    <mat-form-field>
      <input
        matInput
        placeholder="Phone"
        required
        name="phone"
        formControlName="phone"
      />
      <mat-icon matSuffix>phone</mat-icon>
      <mat-error *ngIf="handleErrorLogin('phone', 'required')"
        >Phone is required</mat-error
      >
      <mat-error *ngIf="handleErrorLogin('phone', 'phone')"
        >Phone should be of Valid Format</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        required
        minlength="6"
        name="password"
        formControlName="password"
      />
      <mat-error *ngIf="handleErrorLogin('password', 'required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="handleErrorLogin('password', 'minlength')"
        >Password must be of length 6</mat-error
      >
      <mat-error *ngIf="handleErrorLogin('password', 'maxlength')"
      >Password must be of length 6</mat-error
    >
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-checkbox>Remember Me!</mat-checkbox>
    <button
      mat-raised-button
      color="primary"
      class="login-button"
      [disabled]="!loginFormPhoneNumber.valid"
      (click)="openSnackBar(loginMessage, 'Close')"
      duration: 3000,
    >
      LogIn
    </button>
  </form>
</mat-card-content>