<mat-card-content>
  <form [formGroup]="registerForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Full Name"
        name="fullname"
        formControlName="fullName"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        required
        name="email"
        formControlName="email"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="handleErrorRegister('email', 'required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="handleErrorRegister('email', 'email')"
        >Email should be of Valid Format</mat-error
      >
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="login-button"
      
      (click)="openSnackBar(codeMessage, 'Dismiss')"
    >
      Send verification code
    </button>
    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Verification code"
        required
        name="code"
        formControlName="code"
      />
      <mat-icon matSuffix>password</mat-icon>
      <mat-error *ngIf="handleErrorCode('email', 'required')"
        >Code is required</mat-error
      >
      <mat-error *ngIf="handleErrorCode('email', 'code')"
        >Code should be of Valid Format</mat-error
      >
    </mat-form-field> -->
    <mat-form-field>
      <input
        matInput
        placeholder="Write your Verification code"
        type="password"
        required
        minlength="6"
        name="password"
        formControlName="password"
      />
      <mat-error *ngIf="handleErrorLogin('password', 'required')"
        >Verification code is required</mat-error
      >
      <mat-error *ngIf="handleErrorLogin('password', 'minlength')"
        >Verification code must be of length 6</mat-error
      >
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="login-button"
      [disabled]="!registerForm.valid"
      (click)="openSnackBar(registerMessage, 'Dismiss')"
    >
      REGISTER
    </button>
  </form>
</mat-card-content>
