<div>
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center; margin: 10px;"
      >Login</mat-card-title >
    <mat-tab-group
      mat-stretch-tabs
      dynamicHeight
      class="example-stretched-tabs">
      <mat-tab label="Phone">
        <ng-template matTabContent>
          <app-login-by-sms></app-login-by-sms>
        </ng-template>
      </mat-tab>
      <mat-tab label="Email">
        <ng-template matTabContent>
          <app-login-by-email></app-login-by-email>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

